header,
footer,
.cta, 
nav, 
ul, 
.cta_main, 
.cta_slider, 
.cta_bottom{
    background-color: orange;
}

header{
    border-bottom: 1px solid;
}

footer{
    padding: 20px;
    text-align: center;
    border-top: 1px solid;
}

.footer_logo img{
    width: 200px;
    height: auto;
    margin-bottom: 50px;
}

.footer, 
.footer_logo img{
    margin-top: 50px;
}

.footer_nav a, 
.shopping-cart a, 
nav a{
    color: black;
}

.footer_nav li{
    display: flex;
    flex-direction: column;
    z-index: 999;
}

.footer_nav a{
    margin-bottom: 30px;
}

footer h4{
    font-weight: 350;
}

.footer_nav li, 
.footer_nav h4{
    font-size: 1.5em;
}

.some_icon i, 
.app_icon i{
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 45px;
}

body{
    font-family: 'Helvetica neue', Arial, sans-serif;
    margin: 0px;
    overflow-x: hidden;
}

ul{
    display: flex;
    justify-content: center;
    margin-top: -20px;
    font-size: 20px;
    font-weight: 400;
    padding-left: 0px;
}

nav, #menu-checkbox{
    display: none;
    z-index: 9999;
}

#menu-checkbox:checked~nav{
    display: block;
}

.hamburger-icon, 
.shopping-cart{
    position: relative;
}

.hamburger-icon{
    margin-left: 30px;
    top: -27px;
    z-index: 999;
}

.shopping-cart{
    float: right;
    margin-right: 30px;
    top: -27px;
}

nav{
    position: absolute;
    left: 0px;
    margin-top: 20px;
}

nav a{
    display: block;
    padding: 10px 20px;
}

nav li{
    display: inline-block;
}

.nav_bag i{
    width: 30px;
    height: auto;
}

.bottom_nav_footer{
    width: 100%;
}

.logo{
    width: 110px;
    height: auto;
    position: relative;
    top: 15px;
    margin-bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

h1 span{
    color: orange;
}

/* Home page */
h1{
    font-size: 50px;
}

a{
    text-decoration: none;
}

.welcome, 
.movie h2, 
.featured-movies, 
.movie_1 a{
    color: white;
}

.welcome{
    background-image: url("../images/Cinema_seats.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: top;
    min-height: 160vh;
    position: relative;
}

.welcome::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 800px;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    pointer-events: none; 
}

.welcome_content, 
.movie, 
.cinema_watch, 
.cinema_watch p{
    left: 50%;
    transform: translateX(-50%);
}

.welcome_content, 
.movie-info{
    position: absolute;
}

.welcome_content, 
.movie, 
.row_1, 
.row_2{
    text-align: center;
}

.home_slider, 
.movie, 
.top_streams, 
.new_movies, 
.discover_movies img, 
.cinema_watch, 
.cinema_watch p, 
.cta_bottom{
    position: relative;
}

.welcome_content{
    top: 50px;
}

.body_home{
    background-color: black;
}

.cta_main{
    color: black;
    font-size: 1.5em;
    border-radius: 5px;
    padding: 5px 65px;
}

.home_slider{
    top: -730px;
}

.movie{
    width: 90%;
}

.movie img{
    max-width: 100%;
    height: auto;
    border-radius: 2%;
}

.movie-info{
    bottom: 0;
    margin-bottom: 2%;
    width: 100%;
}

.movie-info h2{
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.movie-info a, 
.movie-info h2 {
    display: inline-block;
    margin: 0px 10px 10px 0px;
}

.movie h2{
    font-size: 13px;
}

.cta_slider{
    color: black;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    border-radius: 30px;
    font-size: 10px;
}

.featured-movies{
    margin-top: -300px;
}

.top_streams, 
.new_movies{
    top: -375px;
    display: grid;
    justify-content: center;
}

.top_streams img, 
.new_movies img{
    width: 170px;
    height: auto;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
}

.top_streams h3, 
.new_movies h3{
    font-size: 1em;
    margin-left: 10px;
}

.top_streams h4, 
.new_movies h4{
    font-size: 10px;
}

.row_1, 
.row_2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
}

.discover_movies img{
    top: -67px;
}

.discover_movies{
    width: 400px;
    height: auto;
}

.cinema_watch, 
.cinema_watch p{
    font-size: 30px
}

.cinema_watch{
    top: -370px;
    width: 400px;
    max-height: 300px;
}

.cinema_watch p{
    top: -280px;
    font-weight: 500;
    width: 295px;
}

.cta_bottom{
    color: black;
    font-size: 24px;
    font-weight: 540;
    border-radius: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    top: -80px;
    left: 50px;
}


/* Contact page */
.contact_body, 
.contact_info, 
.cta_contact{
    background-color: orange;
}

.contact_header, 
.contact_info{
    text-align: center;
}

.contact_header, 
.cta_contact{
    color: black;
}

.contact_header h1{
    font-size: 24px;
    font-weight: 450;
}

.contact_header h2{
    font-size: 14px;
    width: 195px;
    font-weight: 400;
    margin-bottom: 25px;
}

.contact_main{
    width: 85%;
    border-radius: 15px;
    max-width: 800px;
}

.contact_container{
    background: white;
    padding-top: 1px;
    border-radius: 5px;
    margin-bottom: 50px;
}

.contact_info{
    border-radius: 5px;
    margin: 10px 10px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.contact_info h2{
    font-size: 20px;
}

.contact_info h3{
    font-size: 14px;
    font-weight: 400;
}

.contact_info h2, 
.contact_info h3{
    margin-left: 40px;
}

.contact_info h4{
    font-size: 12px;
    font-weight: 400;
    margin: 40px;
}

.contact_details, 
.cta_contact,
.contact_main, 
.contact_header h2{
    left: 50%;
    transform: translateX(-50%);
    position: relative;
}

.contact_details, 
.personal_info, 
.subject_selector, 
.email_form{
    display: grid;
    justify-content: center;
}

.contact_details{
    background-color: white;
    border-radius: 5px;
}

.personal_info label{
    font-size: 12px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 300px;
}

.subject h3{
    font-size: 14px;
}

.subject{
    margin-bottom: 5px;
    margin-left: 10px;
}

.subject_selector{
    grid-template-columns: repeat(2,1fr);
}

.test{
    margin-bottom: 10px;
    margin-top: 10px;
}

.email_form{
    margin-top: 20px;
}

.email_form label{
    width: 300px;
    margin-bottom: 10px;
}

.cta_contact{
    font-size: 1em;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 0;
}

/*Videos Page */
.movie_covers img, 
.movie_pick, 
.movie_cover img, 
.title{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.movie_covers img, 
.movie_pick{
    width: 275px;
}

.movie_covers img{
    min-height: 407.55px;
    max-height: 407.55px;
    margin-bottom: -10px;
    margin-top: 10px;
    border-radius: 5px;
}

.movie_pick{
    margin-right: 10px;
    margin-left: 10px;
}

.movie_h1, 
.movie_content, 
.background_image{
    position: relative;
}

.movie_h1{
    font-size: 2em;
    font-weight: 400;
    margin-left: 20px;
    top: 20px
}

.movie_content, 
.video_page, 
.bottom_nav a{
    color: white;
}

.movie_content{
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    box-sizing: border-box;
}

.movie_content h2{
    font-size: 18px;
    margin-bottom: -10px;
}

.movie_content h3{
    font-size: 14px;
    opacity: 50%;
    font-weight: 500;
}

.video_page{
    background-color: black;
}

.filter_selector{
    background-color: orange;
    padding: 10px 10px;
    width: 125px;
    border-radius: 7.5px;
    font-size: 20px;
}
.filter_selector{
    position: absolute;
    right: 30px;
    top: 140px;
}

.bottom_nav a, 
.bottom_nav i, 
.bottom_nav{
    display: flex;
    flex-direction: row;
}

.bottom_nav a{
    margin: 3px;
    margin-bottom: 20px;
}

.bottom_nav i{
    margin-bottom: 18px;
    margin-left: 5px;
}

.bottom_nav{
    justify-content: center;
}

.active_nav a, .bottom_nav i{
    color: orange;
}

/*Movie Page */
.movie_body{
    background-color: black;
}

.movie_main{
    max-height: 1500px;
}

.background_image{
    color: white;
    background-image: url(../images/once-upon-a-time-in-hollywood-ver9-button-1563821140176.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    height: 100%;
}

.background_image::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 400px;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    pointer-events: none;
}

.movie_info{
    z-index: 999;
    position: relative;
    top: -450px;
}

.movie_cover img{
    width: 275px;
    height: auto;
    border-radius: 5px;
}

.imbd h2{
    background-color: orange;
    color: black;
    padding: 1px 4px 1px 4px;
    border-radius: 2px;
}

.age h2{
    border: 1px solid white;
    padding: 0px 3px 0px 3px;
    border-radius: 3px;
}

.movie_info,
.movie_cast,
.more_movies,
.title{
    color: white;
}

.cast, 
.also_like{
    position: relative;
    top: -450px;
}

.title{
    width: 335px;
    margin-bottom: -40px;
}

.movie_title, 
.movie_specs, 
.movie_description, 
.price, 
.add_to_cart, 
.movie_cast, 
.more_movies{
    display: flex;
    justify-content: center;
}

.movie_title h1{
    font-size: 21px;
}

.movie_specs, 
.movie_description{
    margin-top: -15px;
}

.movie_specs h2{
    font-size: 12px;
    margin-left: 8px;
    margin-right: 8px;
    font-weight: 400;
}

.movie_description p{
    max-width: 325px;
}

.add_to_cart{
    margin-bottom: 40px;
}

.price{
    margin-right: 290px;
}

.add_to_cart button{
    background-color: orange;
    border: none;
    border-radius: 5px;
    padding-left: 125px;
    padding-right: 125px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.movie_cast, .more_movies{
    flex-direction: row;
    margin-top: 50px;
}

.movie_cast img{
    width: 75px;
    height: 100px;
    border-radius: 5px;
}

.movie_cast h5, 
.more_movies h6{
    text-align: center;
}

.movie_cast h5{
    font-size: 8px;
}

.more_movies h6{
    font-size: 10px;
}

.actor{
    margin-left: 5px;
    margin-right: 5px;
}

.other_movie{
    margin-left: 8px;
    margin-right: 8px;
}

.more_movies img{
    width: 100px;
    height: 150px;
    border-radius: 2px;
}

/*About Page */
.movie_film{
    background-image: url(../images/movie_film.jpg);
}

.old_tv{
    background-image: url("../images/old_tv.jpg");
}

.take_one{
    background-image: url("../images/take_one.jpg");
}

.film_camera{
    background-image: url(../images/film_camera.jpg);
}

.movie_film, 
.old_tv, 
.take_one, 
.film_camera{
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    min-height: 80vh;
    position: relative;
}

.about_us h1{
    color: white;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    font-size: 22px;
    margin-top: 0px;
    width: 55%;
}

.movie_film h1{
    top: 40px;
}

.old_tv h1{
    top: 100px;
}

.take_one h1{
    top: 50px;
}

.film_camera h1{
    top: 360px;
}

.old_tv h1, 
.film_camera h1{
    text-align: center;
}

.film_camera{
    margin-bottom: -1px;
}

/*Cart 1 Payment page*/

.breadcrumb{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -25px;
    max-width: 325px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}


.circle{
    margin-right: 40px;
    margin-left: 40px;
    margin-top: 25px;
    text-align: center;
}

.circle a{
    color: white;
    font-size: 16px;
    font-weight: normal;
}

.personal_details, 
.payment h2, 
.cta_proceed a, 
.cta_back a{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.personal_details{
    display: grid;
    justify-content: center;
    margin-bottom: 125px;
}

.cta_back a, 
.cta_proceed a, 
.payment h2, 
.personal_shop label, 
.personal_shop input{
    width: 290px;
}

.payment h2, 
.personal_shop label{
    font-size: 14px;
}

.payment h2{
    text-align: left;
    margin-top: 50px;
}

.personal_shop{
    display: grid;
    justify-content: center;
}

.personal_shop label{
    font-weight: 450;
    margin-top: 20px;
    margin-bottom: 20px;
}

.personal_shop input{
    border-radius: 10px;
    height: 30px;
    border: 1px solid;
}

.cta_personal_data{
    margin-top: 25px;
}

.cta_personal_data a{
    display: grid;
    justify-items: center;
    text-align: center;
    color: black;
    place-items: center;
}

.cta_back a, 
.cta_proceed a{
    border: 1px solid;
    border-radius: 15px;
    height: 40px;
    margin-top: 10px;
}

.cta_back a{
    background-color: white;
}

.cta_proceed a{
    background-color: orange;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

/*Cart 2 Payment page*/

.payment_method{
    width: 290px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.payment_method_button{
    margin-top: 40px;
}

.payment_method_button, 
.payment_method_button label, 
.arrow_position i{
    position: relative;
}

.closed_button label{
    left: -75px;
    top: 10px;
    font-weight: 400;
}

.closed_button{
    margin-bottom: -180px;
}


.active_button{
    padding-bottom: 200px;
    padding-top: 15px;
    margin-top: -5px;
}

.arrow_position i{
    color: orange;
    right: -255px;
    top: 10px;
}

.mastercard, 
.visacard{
    position: relative;
    border: 1px solid black;
    border-radius: 15px;
    padding: 0px 10px 0px 10px;
    width: 200px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    top: 10px;
    margin-top: 10px;
}

.master i, 
.visa{
    color: #000000;
    top: 16px;
    position: relative;
    margin-right: 10px;
}

.add_card{
    margin-top: 15px;
    left: 35px;
    display: flex;
    align-items: center;
    position: relative;
}

.add_card p{
    color: black;
    margin-left: 5px;
}


.payment_method_button input{
    position: absolute;
    width: 290px;
    height: 40px;
    border-radius: 15px;
    border: none;
    left: 50%;
    transform: translateX(-50%);
    text-align: left;
    font-size: 16px;
    padding-left: 10px;
}

/*Cart 3 Payment page*/
.complete_checker{
    display: flex;
    justify-content: center;
    margin-top: 150px;
    margin-bottom: 75px;
}

.complete_checker i{
    color: black;
    font-size: 125px;
}

.complete_info, 
.complete_info p{
    text-align: center;
}

.complete_info{
    color: black;
    font-size: 30px;
}

.complete_info p{
    color: black;
    max-width: 285px;
    font-size: 16px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 85px;
}

.cta_proceed i{
    margin-left: 10px;
}

/*Shopping bag Page */
.shoppingbag_body{
    background-color: orange;
}

.checkout_title h1{
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

.order{
    display: grid;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

.bag_item, 
.order_summary{
    background-color: white;
    border-radius: 15px;
    width: 85%;
    height: 150px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.bag_item{
    max-width: 300px;
}

.order_summary{
    height: 380px;
    max-width: 500px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 40px;
}

.bag_item h2{
    position: relative;
    font-size: 1em;
    font-weight: 500;
    top: -150px;
    margin-left: 120px;
}

.bag_item h3{
    font-size: 20px;
    position: relative;
    margin-left: 120px;
    top: -105px;
}

.bag_item img{
    width: 90px;
    border-radius: 5px;
    height: auto;
    margin-top: 10px;
    margin-left: 15px;
}

.discount{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 300px;
    margin-left: 10px;
    height: 35px;
}

.discount label{
    position: fixed;
    opacity: 60%;
    font-weight: 300;
    margin-left: 10px;
    margin-top: 7px;
}

.discount input{
    border-radius: 10px;
    border: 1px solid gray;
    width: 175px;
}

.apply_button{
    background: orange;
    border-radius: 10px;
    height: 35px;
    width: 60px;
    position: relative;
    margin-left: 200px;
    top: -35px;
    border: none;
}

.order_summary h3{
    margin-left: 20px;
    font-size: 20px;
    font-weight: 400;
    top: 15px;
    position: relative;
}

.order_specs{
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    width: 250px;
    margin-left: 15px;
    margin-bottom: -30px;
}

.order_specs h4{
    font-weight: 400;
}

.heavy h4{
    font-weight: 500;
}

.cta_checkout a, 
.cta2_checkout a{
    color: black;
    border: 1px solid black;
    left: 7px;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 1em;
    border-radius: 15px;
}

.cta_checkout a{
    background-color: white;
    padding-left: 60px;
    padding-right: 60px;
    top: 75px;
}

.cta2_checkout a{
    background-color: orange;
    padding-left: 94px;
    padding-right: 94px;
    top: 107px;
}


@media(min-width:600px){
    .movie_covers{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin: 5px;
    }

    .movie_content{
        position: relative;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        color: white;
        box-sizing: border-box;
    }

    .cinema_watch {
        position: relative;
        top: -245px;
    }

    .cart_main{
        border: 1px solid;
        width: 500px;
        margin-top: 25px;
        border-radius: 15px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        max-height: 715px;
        margin-bottom: 50px;
    }

    .welcome_content h1{
        font-size: 60px;
    }

    .movie h2{
        font-size: 20px;
    }

    .cta_slider{
        font-size: 15px;
    }

    .about_us h1{
        font-size: 30px;
    }
}

@media (min-width: 800px){
    nav{
        display: block;
        position: static;
        margin-top: 30px;
    }

    .shopping-cart{
        top: -30px;
    }

    .hamburger-icon{
        display: none;
    }

    nav a{
        display: inline-block;
    }

    .logo{
        position: relative;
        margin-left: 30px;
        left: 40px;
    }

    .filter_selector{
        margin-top: 15px;
    }

    .contact_container{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .contact_info{
        width: 40%;
        height: 83.5%;
        left: 0%;
        position: absolute;
        text-align: left;
    }

    .contact_info h3{
        margin-bottom: 125px;
    }

    .contact_details{
        left: 0%;
        transform: none;
        margin-left: 40%;
    }

    ul{
        margin-top: -60px;
        font-weight: 450;
    }

    .row_1, 
    .row_2{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        text-align: center;
    }

    .welcome_content h1{
        font-size: 70px;
    }

    .movie h2{
        font-size: 25px;
    }

    .cta_slider{
        font-size: 20px;
    }

    .movie_film, 
    .old_tv, 
    .take_one, 
    .film_camera{
        min-height: 95vh;
    }

    .about_us h1{
        font-size: 40px;
    }
}



@media (min-width: 900px){
    .movie_covers {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        margin: 5px;
    }

    .top_streams img, 
    .new_movies img {
        width: 180px;
        height: 270px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .top_streams h4, 
    .new_movies h4 {
        font-size: 11px;
    }

    .top_streams h3, 
    .new_movies h3{
        margin-left: 3%;
    }
}



@media (min-width: 1000px){
    .discover_movies {
        margin-left: -260px;
}

.cinema_watch p {
    position: relative;
    top: -440px;
    font-size: 50px;
    left: 50%;
    width: 450px;
    transform: none;
    }

    .cta_bottom{
        top: -126px;
        left: 190px;
    }

    footer{
        height: auto;
        max-height: 400px;
    }

    .footer_logo{
        width: 300px;
    }

    .footer_logo img{
        display: flex;
        width: 300px;
        margin-bottom: -15px;
    }

    .footer_nav li{
        position: relative;
        top: -150px;
    }

    .footer_icon{
        position: relative;
        display: grid;
        top: -425px;
        text-align: left;
        justify-content: end;
    }

    .personal_info{
        display: grid;
    }

    .bag_item{
        left: 0%;
        transform: translateX(10px);
        margin-top: 20px;
        max-width: 600px;
    }

    .cart_flex{
        display: flex;
        justify-content: center;
    }

    .order{
        margin-left: 20px;
    }

    .top_streams img, .new_movies img {
        width: 200px;
        height: 300px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .top_streams h4, .new_movies h4 {
        font-size: 13px;
    }

    .movie h2{
        font-size: 35px;
    }

    .cta_slider{
        font-size: 25px;
    }

    .movie_film, 
    .old_tv, 
    .take_one, 
    .film_camera{
        min-height: 110vh;
    }

    .about_us h1{
        font-size: 50px;
    }
}


@media (min-width: 1200px){
    .movie_covers {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        margin: 5px;
    }

    .top_streams img, 
    .new_movies img {
        margin-left: 25px;
        margin-right: 25px; 
    }

    .welcome_content h1{
        font-size: 80px;
    }

    .movie h2{
        font-size: 40px;
    }

    .cta_slider{
        font-size: 30px;
    }

    .movie_film, 
    .old_tv, 
    .take_one, 
    .film_camera{
        min-height: 160vh;
    }

    .about_us h1{
        font-size: 70px;
    }
}
